@using Web_Application.Config

<!-- 
Footer

This footer section is typically placed at the bottom of the layout view and 
provides copyright information, project details, and a link to the Privacy page.

-->

<div class="container">
    <!-- Copyright notice and project information -->
    &copy; @DateTime.Today.Year - @ProjectInfo.ProjectName | @ProjectInfo.StudentName ( @ProjectInfo.StudentGroup ) - 
</div>