@using Web_Application.Config

<div class="container">
    &copy; @DateTime.Today.Year - @ProjectInfo.ProjectName | @ProjectInfo.StudentName ( @ProjectInfo.StudentGroup ) - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
</div>